@model CustomerLists.Models.Movies
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.MovieName </h2 >



<p>Rating: @Model.Rating</p>
<p>Genre: @Model.Genre.Name</p>
<p>Release Date: @Model.ReleaseDate</p>
<p>Date Added: @Model.DateAdded</p>
<p>Stock Value: @Model.InStock</p>
<p>Synopsis: @Model.Synopsis</p>
